.featuredart {
  background-color: var(--color-light-grey);
}

.featuredartlight {
  background-color: var(--color-primary-light);
}

.featuredartmedium {
  background-color: var(--color-primary-medium);
}
