:root {
  --color-primary-light: #c5c2b9;
  --color-primary: #a19582;
  --color-primary-medium: #7d6c59;
  --color-primary-dark: #3c342b;
  --color-white: #fff;
  --color-light-grey: #e4e4e4;
  --color-black: #383838;
  --font-primary: rubik, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-primary);
  font-weight: 500;
}

h2 {
  color: var(--color-primary-medium);
  font-weight: 500;
}

p {
  color: var(--color-primary-medium);
}

a {
  color: var(--color-primary);
  transition: all .15s linear;
}

a:hover, a:focus {
  color: var(--color-white);
}

mark {
  background-color: var(--color-white);
}
