:root {
  --color-primary-light: #c5c2b9;
  --color-primary: #a19582;
  --color-primary-medium: #7d6c59;
  --color-primary-dark: #3c342b;
  --color-white: #ffffff;
  --color-light-grey: #e4e4e4;
  --color-black: #383838;

  --font-primary: Rubik, sans-serif;
}

html {
  font-family: var(--font-primary);
}
