.light {
  background-color: var(--color-primary-light);
}

.sectiontitle {
  display: inline;
}

.sectionbody {
  font-weight: 400;
  display: inline;
}

.lightsectiontitle {
  color: var(--color-primary-dark);
  line-height: 1.4rem;
}

.lightsectionbody {
  color: var(--color-primary-medium);
}

.medium {
  background-color: var(--color-primary-medium);
}

.mediumsectiontitle, .mediumsectionbody {
  color: var(--color-primary-dark);
  line-height: 1.4rem;
}

.lightgrey {
  background-color: var(--color-light-grey);
}
